In [1]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\samhe\appdata\roaming\python\python312\site-packages (9.2.0)

In [13]:
import mysql.connector

In [19]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password=""
)

In [20]:
mycursor = mydb.cursor(buffered=True)

In [22]:
import mysql.connector
conn = mysql.connector.connect(
    host="localhost", 
    user="root",     
    password=""  
)
cursor = conn.cursor()
cursor.execute("CREATE DATABASE birds_species")
cursor.close()
conn.close()

In [23]:
pip install mysql-connector-python pandas openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\samhe\appdata\roaming\python\python312\site-packages (9.2.0)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [31]:
import pandas as pd
import mysql.connector

# Load the Excel file
file_path = r"C:\Users\samhe\OneDrive\Desktop\Birds species analysis\Bird_Monitoring_Cleaned grass land.xlsx"
df = pd.read_excel(file_path)

# Optional: Show the columns
print("Columns:", df.columns.tolist())

# Replace these with your own MySQL/phpMyAdmin credentials
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '',
    'database': 'birds_species'  # This database must already be created
}

# Connect to MySQL
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

# Table name
table_name = 'bird_observations_in_grass_land'

# Step 1: Create table (based on DataFrame columns)
create_table_query = f"""
CREATE TABLE IF NOT EXISTS {table_name} (
    id INT AUTO_INCREMENT PRIMARY KEY,
    {', '.join(f"`{col}` TEXT" for col in df.columns)}
);
"""
cursor.execute(create_table_query)

# Step 2: Insert data row by row
for _, row in df.iterrows():
    placeholders = ', '.join(['%s'] * len(row))
    columns = ', '.join(f"`{col}`" for col in df.columns)
    insert_query = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"
    cursor.execute(insert_query, tuple(row.fillna('').astype(str)))

# Commit and close
conn.commit()
cursor.close()
conn.close()

print("✅ Data inserted successfully into MySQL.")

Columns: ['Admin_Unit_Code', 'Sub_Unit_Code', 'Plot_Name', 'Location_Type', 'Year', 'Date', 'Start_Time', 'End_Time', 'Observer', 'Visit', 'Interval_Length', 'ID_Method', 'Distance', 'Flyover_Observed', 'Sex', 'Common_Name', 'Scientific_Name', 'AcceptedTSN', 'TaxonCode', 'AOU_Code', 'PIF_Watchlist_Status', 'Regional_Stewardship_Status', 'Temperature', 'Humidity', 'Sky', 'Wind', 'Disturbance', 'Previously_Obs', 'Initial_Three_Min_Cnt', 'Site']
✅ Data inserted successfully into MySQL.

In [30]:
import pandas as pd
import mysql.connector

# Load the CSV file
file_path = r"C:\Users\samhe\OneDrive\Desktop\Birds species analysis\cleaned_bird_monitoring_data forest.csv"
df = pd.read_csv(file_path)

# Replace with your MySQL/phpMyAdmin credentials
db_config = {
    'host': 'localhost',
    'user': 'root',        # e.g., 'root'
    'password': '',    # e.g., 'admin'
    'database': 'birds_species'     # This database must already exist
}

# Connect to MySQL
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

# Table name to insert data
table_name = 'bird_observations_in_forest'

# Step 1: Create table based on DataFrame columns (all TEXT for simplicity)
columns_sql = ',\n    '.join([f"`{col}` TEXT" for col in df.columns])
create_query = f"""
CREATE TABLE IF NOT EXISTS `{table_name}` (
    id INT AUTO_INCREMENT PRIMARY KEY,
    {columns_sql}
);
"""
cursor.execute(create_query)

# Step 2: Insert data into the table
for _, row in df.iterrows():
    columns = ', '.join([f"`{col}`" for col in df.columns])
    placeholders = ', '.join(['%s'] * len(row))
    insert_query = f"INSERT INTO `{table_name}` ({columns}) VALUES ({placeholders})"
    values = tuple(row.fillna('').astype(str))  # fill NaN and convert to string
    cursor.execute(insert_query, values)

# Finalize
conn.commit()
cursor.close()
conn.close()

print("✅ Data inserted successfully into MySQL/phpMyAdmin.")

✅ Data inserted successfully into MySQL/phpMyAdmin.